*{
    margin:0;
    padding:0;
    font-family:verdana;

}

.bg-img {
    /* The image used */
    background-image: url("hero.jpg");
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }



    /* #navbar{
    width:100%;
    height:100vh;
    background-image: url(img2.jpg);
    background-size: cover;
}
    nav{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.333);
    line-height: 50px;
}
    nav ul{
    float: right;
    margin-right: 30px;
}
    nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
}
    nav ul li:hover{
    background-color:#088;
}
    nav ul li a{
    text-decoration: none;
    color: #000000;
    padding: 30px;
} */

