* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v61_5 {
    width: 100%;
    height: 7168px;
    background: url("/assets/v61_5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v61_6 {
    width: 100%;
    height: 7168px;
    background: url("/assets/v61_6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v16_2 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v22_15 {
    width: 4096px;
    height: 3072px;
    background: url("/assets/v22_15.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 133px;
    overflow: hidden;
  }
  .v17_5 {
    width: 758px;
    color: url("../images/v17_5.png");
    position: absolute;
    top: 350px;
    left: 341px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 80px;
    opacity: 1;
    text-align: center;
  }
  .v20_12 {
    width: 186px;
    height: 62px;
    background: url("/assets/v20_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 559px;
    left: 627px;
    overflow: hidden;
  }
  .v17_7 {
    width: 186px;
    height: 62px;
    background: rgba(38,125,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    overflow: hidden;
  }
  .v17_9 {
    width: 80px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 12px;
    left: 53px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v23_63 {
    width: 140px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 53px;
    left: 780px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v23_66 {
    width: 71px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 53px;
    left: 602px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v23_64 {
    width: 111px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 53px;
    left: 1027px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v23_65 {
    width: 93px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 53px;
    left: 1245px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v23_73 {
    width: 190px;
    color: url("../images/v23_73.png");
    position: absolute;
    top: 41px;
    left: 87px;
    font-family: Inter;
    font-weight: Extra Bold;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  .v17_10 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1024px;
    left: 0px;
    overflow: hidden;
  }
  .v17_11 {
    width: 560px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 142px;
    left: 730px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v22_17 {
    width: 624px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 270px;
    left: 735px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v22_20 {
    width: 262px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 784px;
    left: 80px;
    font-family: Inter;
    font-weight: Italic;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v22_19 {
    width: 587px;
    height: 595px;
    background: url("/assets/v22_19.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 174px;
    left: 80px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    overflow: hidden;
  }
  .v22_23 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 2048px;
    left: 0px;
    overflow: hidden;
  }
  .v22_26 {
    width: 646px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 132px;
    left: 114px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v46_101 {
    width: 624px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 267px;
    left: 114px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v46_102 {
    width: 549px;
    height: 632px;
    background: url("/assets/v46_102.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 168px;
    left: 808px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    overflow: hidden;
  }
  .v46_91 {
    width: 100%;
    height: 1024px;
    background: rgba(38,125,255,1);
    opacity: 1;
    position: absolute;
    top: 3072px;
    left: 0px;
    overflow: hidden;
  }
  .v46_92 {
    width: 646px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 90px;
    left: 397px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: center;
  }
  .v46_93 {
    width: 100%;
    height: 699px;
    background: url("/assets/v46_93.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 214px;
    left: 216px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v46_94 {
    width: 298px;
    height: 699px;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    overflow: hidden;
  }
  .v46_95 {
    width: 298px;
    height: 699px;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 355px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    overflow: hidden;
  }
  .v46_96 {
    width: 298px;
    height: 699px;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 710px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    overflow: hidden;
  }
  .v46_97 {
    width: 258px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 513px;
    left: 236px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v46_98 {
    width: 258px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 513px;
    left: 591px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v46_99 {
    width: 258px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 513px;
    left: 946px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v22_38 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 4096px;
    left: 0px;
    overflow: hidden;
  }
  .v22_39 {
    width: 190px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 79px;
    left: 143px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: center;
  }
  .v23_46 {
    width: 522px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 182px;
    left: 139px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v23_47 {
    width: 829px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 231px;
    left: 144px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_103 {
    width: 100%;
    height: 554px;
    background: url("/assets/v46_103.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 335px;
    left: 138px;
    overflow: hidden;
  }
  .v23_48 {
    width: 351px;
    height: 554px;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v22_41 {
    width: 274px;
    height: 223px;
    background: url("/assets/v22_41.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 38px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    overflow: hidden;
  }
  .v22_40 {
    width: 256px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 279px;
    left: 38px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 33px;
    opacity: 1;
    text-align: left;
  }
  .v23_50 {
    width: 296px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 372px;
    left: 39px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v23_51 {
    width: 351px;
    height: 554px;
    background: rgba(38,125,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 406px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v23_53 {
    width: 256px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 279px;
    left: 444px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 33px;
    opacity: 1;
    text-align: left;
  }
  .v23_54 {
    width: 296px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 372px;
    left: 445px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v29_79 {
    width: 273px;
    height: 223px;
    background: url("/assets/v29_79.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 445px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    overflow: hidden;
  }
  .v23_59 {
    width: 351px;
    height: 554px;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 812px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v29_80 {
    width: 273px;
    height: 223px;
    background: url("/assets/v29_80.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 851px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v23_61 {
    width: 256px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 279px;
    left: 850px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 33px;
    opacity: 1;
    text-align: left;
  }
  .v23_62 {
    width: 296px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 372px;
    left: 851px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_104 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 5120px;
    left: 0px;
    overflow: hidden;
  }
  .v46_106 {
    width: 522px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 44px;
    left: 140px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v46_107 {
    width: 829px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 93px;
    left: 145px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_109 {
    width: 351px;
    height: 554px;
    background: rgba(38,125,255,1);
    opacity: 1;
    position: absolute;
    top: 197px;
    left: 139px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v46_110 {
    width: 274px;
    height: 223px;
    background: url("/assets/v46_110.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 231px;
    left: 177px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    overflow: hidden;
  }
  .v46_111 {
    width: 256px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 476px;
    left: 177px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 33px;
    opacity: 1;
    text-align: left;
  }
  .v46_112 {
    width: 296px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 569px;
    left: 178px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_113 {
    width: 351px;
    height: 554px;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 197px;
    left: 545px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v46_114 {
    width: 256px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 476px;
    left: 583px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 33px;
    opacity: 1;
    text-align: left;
  }
  .v46_115 {
    width: 296px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 569px;
    left: 584px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_116 {
    width: 273px;
    height: 223px;
    background: url("/assets/v46_116.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 231px;
    left: 584px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    overflow: hidden;
  }
  .v46_117 {
    width: 351px;
    height: 554px;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 197px;
    left: 951px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v46_118 {
    width: 273px;
    height: 223px;
    background: url("/assets/v46_118.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 231px;
    left: 990px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v46_119 {
    width: 256px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 476px;
    left: 989px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 33px;
    opacity: 1;
    text-align: left;
  }
  .v46_120 {
    width: 296px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 569px;
    left: 990px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_121 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 6144px;
    left: 0px;
    overflow: hidden;
  }
  .v46_122 {
    width: 522px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 44px;
    left: 140px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v46_123 {
    width: 829px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 93px;
    left: 145px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_124 {
    width: 351px;
    height: 554px;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 197px;
    left: 139px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v46_125 {
    width: 274px;
    height: 223px;
    background: url("assets/v46_125.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 231px;
    left: 177px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    overflow: hidden;
  }
  .v46_126 {
    width: 256px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 476px;
    left: 177px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 33px;
    opacity: 1;
    text-align: left;
  }
  .v46_127 {
    width: 296px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 569px;
    left: 178px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_128 {
    width: 351px;
    height: 554px;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 197px;
    left: 545px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v46_129 {
    width: 256px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 476px;
    left: 583px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 33px;
    opacity: 1;
    text-align: left;
  }
  .v46_130 {
    width: 296px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 569px;
    left: 584px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_131 {
    width: 273px;
    height: 223px;
    background: url("/assets/v46_131.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 231px;
    left: 584px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    overflow: hidden;
  }
  .v46_132 {
    width: 351px;
    height: 554px;
    background: rgba(38,125,255,1);
    opacity: 1;
    position: absolute;
    top: 197px;
    left: 951px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v46_133 {
    width: 273px;
    height: 223px;
    background: url("/assets/v46_133.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 231px;
    left: 990px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v46_134 {
    width: 256px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 476px;
    left: 989px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 33px;
    opacity: 1;
    text-align: left;
  }
  .v46_135 {
    width: 296px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 569px;
    left: 990px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  