@font-face {
  font-family: Poppins;
  src: url(assets/Font/Poppins-Regular.ttf);
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #267dff;
  transition: color 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: Poppins;
  box-sizing: border-box;
}

/* Reset default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.logo:hover {
  color: #267dff;
  text-decoration: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  text-decoration: none;
  color: #267dff;
  transition: color 0.3s ease-in-out;
}

/* Burger menu styles */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

/* Hero section styles */
.hero {
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3)
    ),
    url(../assets/hero.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.navbar:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.hero-title {
  font-size: 70px;
  font-family: Poppins;
  color: #ffffff;
  text-align: center;
  padding-bottom: 15px;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}

.hero-button {
  background-color: #267dff;
  border: none;
  color: white;
  width: 186px;
  padding: 20x;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 26px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 60px;
  border-radius: 31px;
}
.hero-button:hover {
  background-color: #f3f3f3;
  color: #267dff;
  border: 1px solid #267dff;
}

.career-section {
  width: 100%;
  height: 88vw;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
}

.header1-career {
  width: 1033px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 180px;
  left: 730px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}

.header2-text {
  width: 1061px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 300px;
  left: 735px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 25px;
  opacity: 1;
  text-align: justify;
}

.header1-career2 {
  width: 657px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 979px;
  left: 90px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}

.header2-text2 {
  width: 991px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1144px;
  left: 92px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 25px;
  opacity: 1;
  text-align: justify;
}

.career-image {
  width: 587px;
  height: 595px;
  background: url("../assets/v22_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 80px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.career-image2 {
  width: 587px;
  height: 595px;
  background: url("../assets/v46_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 935px;
  left: 1180px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.photo1 {
  width: 262px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 707px;
  left: 76px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.photo2 {
  width: 262px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1550px;
  left: 1179px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 30px;
  opacity: 1;
  text-align: right;
}

.statistics {
  width: 100%;
  height: 75vw;
  background: white;
  opacity: 1;
  position: absolute;
  top: 2676px;
  left: 0px;
}

.statistics-header {
  padding-top: 35px;
  text-align: center;
  font-size: 48px;
}

.pie-chart {
  width: 273px;
  height: 266px;
  top: 233px;
  left: 119px;
  position: absolute;
  position: absolute;
  border-radius: 50%;
  background: conic-gradient(from 0deg, #41b8d5 0% 74%, #2d8bba 20% 26%);
}

.pie-chart2 {
  width: 273px;
  height: 266px;
  top: 381px;
  left: 490px;
  position: absolute;
  border-radius: 50%;
  background: conic-gradient(from 90deg, #41b8d5 0% 70%, #2d8bba 20% 30%);
}

.pie-chart3 {
  width: 273px;
  height: 266px;
  top: 713px;
  left: 1418px;
  position: absolute;
  border-radius: 50%;
  background: conic-gradient(from 150deg, #41b8d5 0% 56%, #2d8bba 20% 44%);
}

.pie-chart4 {
  width: 273px;
  height: 266px;
  top: 817px;
  left: 968px;
  position: absolute;
  border-radius: 50%;
  background: conic-gradient(from 0deg, #41b8d5 0% 23%, #2d8bba 20% 77%);
}

.pie-chart5 {
  width: 273px;
  height: 266px;
  top: 1038px;
  left: 1258px;
  position: absolute;
  border-radius: 50%;
  background: conic-gradient(from 0deg, #41b8d5 0% 93%, #2d8bba 20% 7%);
}

.pie-chart-label {
  width: 646px;
  color: white;
  position: absolute;
  top: 314px;
  left: -5px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}

.pie-chart-label2 {
  width: 646px;
  color: white;
  position: absolute;
  top: 517px;
  left: 262px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}

.pie-chart-label3 {
  width: 646px;
  color: white;
  position: absolute;
  top: 828px;
  left: 1164px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}

.pie-chart-label4 {
  width: 646px;
  color: white;
  position: absolute;
  top: 858px;
  left: 839px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}

.pie-chart-label5 {
  width: 646px;
  color: white;
  position: absolute;
  top: 1170px;
  left: 1097px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}

.header2-text-statistics {
  width: 773px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 145px;
  left: 941px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: justify;
}

.header2-text2-statistics {
  width: 773px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 704px;
  left: 105px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: justify;
}

.article-section {
  width: 100%;
  height: 1024px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 4222px;
  left: 0px;
}

.header-article {
  width: 190px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 28px;
  left: 128px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.header-popular {
  width: 522px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 119px;
  left: 134px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}

.header-article-text {
  width: 829px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 187px;
  left: 132px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.article-container {
  height: 600px;
  opacity: 1;
  position: absolute;
  top: 335px;
  left: 138px;
}

.article1-container {
  width: 351px;
  height: 622px;
  background-color: rgba(246, 246, 246, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.article1-img {
  width: 274px;
  height: 223px;
  background: url("../assets/v22_41.PNG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 38px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.header-goal {
  width: 256px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 266px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}

.header-goal-text {
  width: 296px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 424px;
  left: 36px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.article2-container {
  width: 351px;
  height: 622px;
  background-color: rgba(246, 246, 246, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 406px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.article2-img {
  width: 273px;
  height: 223px;
  background: url("../assets/v29_79.PNG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 43px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.header-good {
  width: 256px;
  color: black;
  position: absolute;
  top: 259px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}

.header-good-text {
  width: 296px;
  color: black;
  position: absolute;
  top: 423px;
  left: 43px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.article3-container {
  width: 351px;
  height: 622px;
  background-color: rgba(246, 246, 246, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 812px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.article3-img {
  width: 273px;
  height: 223px;
  background: url("../assets/v29_80.PNG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 38px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header-interview {
  width: 256px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 269px;
  left: 42px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.header-interview-text {
  width: 296px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 422px;
  left: 43px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.div-news {
  width: 100%;
  height: 1024px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 975px;
  left: 0px;
}

.header-news {
  width: 522px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 44px;
  left: 140px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.header-news-text {
  width: 829px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 115px;
  left: 138px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.news-container {
  width: 351px;
  height: 554px;
  background: #f6f6f6;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 139px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.news1-img {
  width: 274px;
  height: 223px;
  background: url("../assets/v46_110.PNG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 38px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.header-setting {
  width: 256px;
  color: black;
  position: absolute;
  top: 263px;
  left: 35px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.header-setting-text {
  width: 296px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 366px;
  left: 35px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.news2-container {
  width: 351px;
  height: 554px;
  background: rgba(246, 246, 246, 1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 545px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.header-good-network {
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 256px;
  left: 41px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.header-good-network-text {
  width: 296px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 366px;
  left: 42px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.news2-img {
  width: 273px;
  height: 223px;
  background: url("../assets/v46_116.PNG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 38px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.news3-container {
  width: 351px;
  height: 554px;
  background: rgba(246, 246, 246, 1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 951px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.news3-img {
  width: 273px;
  height: 223px;
  background: url("../assets/v46_118.PNG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 45px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header-ace {
  width: 256px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 263px;
  left: 55px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.header-ace-text {
  width: 296px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 362px;
  left: 56px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.div-explore {
  width: 100%;
  height: 1024px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1800px;
  left: 0px;
}
.header-explore {
  width: 522px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 44px;
  left: 136px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.header-explore-text {
  width: 829px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 120px;
  left: 136px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.explore-more-container {
  width: 351px;
  height: 685px;
  background: rgba(246, 246, 246, 1);
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 135px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}
.explore-img {
  width: 274px;
  height: 223px;
  background: url("../assets/v46_110.PNG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 35px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}
.header-more {
  width: 256px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 267px;
  left: 37px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.header-more-text {
  width: 296px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 435px;
  left: 36px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.explore-container2 {
  width: 351px;
  height: 685px;
  background: rgba(246, 246, 246, 1);
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 545px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.explore-img2 {
  width: 273px;
  height: 223px;
  background: url("../assets/v46_131.PNG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 39px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.header-network-explore {
  width: 256px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 262px;
  left: 41px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.header-network-explore-text {
  width: 296px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 435px;
  left: 39px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.explore-container3 {
  width: 351px;
  height: 685px;
  background: #ffffff;
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 951px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.explore-img3 {
  width: 273px;
  height: 223px;
  background: url("../assets/v46_133.PNG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 44px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header-ace-more {
  width: 256px;
  color: black;
  position: absolute;
  top: 260px;
  left: 55px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.header-ace-more-text {
  width: 296px;
  color: black;
  position: absolute;
  top: 480px;
  left: 55px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.article1-container:hover {
  background-color: #267dff;
}

.article2-container:hover {
  background-color: #267dff;
}

.article3-container:hover {
  background-color: #267dff;
}

.news-container:hover {
  background-color: #267dff;
}

.news2-container:hover {
  background-color: #267dff;
}

.news3-container:hover {
  background-color: #267dff;
}

.explore-more-container:hover {
  background-color: #267dff;
}

.explore-container2:hover {
  background-color: #267dff;
}

.explore-container3:hover {
  background-color: #267dff;
}

.article1-container:hover h1.header-goal,
.article1-container:hover h2.header-goal-text {
  color: #f6f6f6;
}

.article2-container:hover h1.header-good,
.article2-container:hover h2.header-good-text {
  color: #f6f6f6;
}

.article3-container:hover h1.header-interview,
.article3-container:hover h2.header-interview-text {
  color: #f6f6f6;
}

.news-container:hover h1.header-setting,
.news-container:hover h2.header-setting-text {
  color: #f6f6f6;
}

.news2-container:hover h1.header-good-network,
.news2-container:hover h2.header-good-network-text {
  color: #f6f6f6;
}

.news3-container:hover h1.header-ace,
.news3-container:hover h2.header-ace-text {
  color: #f6f6f6;
}

.explore-more-container:hover h1.header-more,
.explore-more-container:hover h2.header-more-text {
  color: #f6f6f6;
}

.explore-container2:hover h1.header-network-explore,
.explore-container2:hover h2.header-network-explore-text {
  color: #f6f6f6;
}

.explore-container3:hover h1.header-ace-more,
.explore-container3:hover h2.header-ace-more-text {
  color: #f6f6f6;
}

/* Media query for screens with a maximum width of 768px */
/* @media (max-width: 768px) {
  .navbar {
    padding: 10px; 
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
  }

  .nav-links.active {
    display: flex; 
  }

  .nav-links li {
    margin: 10px 0;
  }

  .burger {
    display: flex; 
  }
} */
/* xs screen*/
@media screen and (max-width: 475px) {
  
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    background-color: #333;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .burger {
    display: block;
  }

  .navbar {
    justify-content: space-between;
  }
}

/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
  .hero-title {
    font-size: 28px;
  }

  .hero-button {
    font-size: 14px;
    padding: 10px 20px;
  }

  .header2-text,
  .header2-text2,
  .header2-text-statistics,
  .header2-text2-statistics {
    font-size: 14px;
    line-height: 1.5;
  }
}

.burger-toggle {
  display: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

.burger-toggle:checked + .nav-links {
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .burger-toggle:checked + .nav-links {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  .burger {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
  }

  .nav-links li {
    margin: 10px 0;
  }
}

